body {
  background-color: var(--dark-blue);
  font-family: var(--main-font);
}

main {
  width: 100%;
  height: 100%;
}

h1, h2 {
  color: var(--pastel-orange);
}

.small-profile-photo {
  width: 60px;
  height: 52px;
  border-radius: 50%;
  margin-right: 1em;
}

.med-profile-photo {
  width: 100px;
  height: 92px;
  border-radius: 50%;
  margin-right: 1em;
}