:root {
  /* fonts */
  --main-font: 'Inter';
  --page-title: 50px;
  --section-heading: 42px;

  /* mobile fonts */
  --mobile-section-heading: 36px;

  /* colors */
  --dark-blue: #2D3250;
  --light-blue: #424769;
  --blue-gray: #676F9D;
  --pastel-orange: #FFB17A;
  --pastel-purple: #A7B4FF;
  --beige: #EDE7D9;
  --gray: #CECCCC;

  /* cards */
  --card-shadow-bottom-right: 3px 3px 3px #D9D9D6;
  --card-shadow-sides: 0px 0px 2px 2px #D9D9D6;

  /* shadow */
  --shadow: 0 2px 15px 0px black;
}