#outer-container {
  width: 40px;
}

#outer-container .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

#outer-container .profile-info h2 {
  font-size: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 24px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--pastel-orange);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--light-blue);
  padding: 0.8em;
}

.bm-overlay {
  background: var(--dark-blue);
  top: 0;
}
