.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 22px;
  padding-top: 0.25em;
}

.navbar .edit-icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}
